* {
  font-family: Roboto, sans-serif;
}

html {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body,
h3,
p {
  margin: 0;
}
/*SECTION 3 CSS*/
.section-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #e5e7eb;
  font-size: 36px;
  color: #1f2937;
  font-style: italic;
  opacity: 0.8;
}
.quote {
  align-self: center;
  justify-content: center;
  text-align: justify;
}
.quote-author {
  align-self: flex-end;
  font-style: normal;
  font-weight: bold;
  color: black;
}

/*SECTION 4 CSS*/

.section-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}
.call-to-action {
  display: flex;
  background-color: #3882f6;
  color: white;
  height: 150px;
  width: 900px;
  border-radius: 10px;
  justify-content: space-evenly;
}
.call-to-action-text {
  padding: 50px 100px;
  color: #e5e7eb;
}
.call-to-action button {
  color: white;
  background-color: #3882f6;
  border: 2px solid white;
  border-radius: 10px;
  font-weight: bold;
  padding: 8px 32px;
  margin: auto;
}

/*FOOTER*/

footer {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-size: 18px;
  color: #e5e7eb;
}
